<style>
h1 {font-family: Copperplate, Papyrus, Fantasy; color:#c90076}
h2 {font-family: Garamond, Georgia, Serif; color:#c90076}
p {font-family: Georgia, Garamond, Serif ; color:#FFFFFF}
body {text-align: center;}
p.one {word-spacing: 55px;}
div{
border-style:outset;
border-width: 5px;
border-radius: 10px;
border-color: gold;
background: #20124d;
margin: 5px;
margin-left:300px;
margin-right:300px;
animation-name:SlideUp;
animation-duration: 1s;
animation-delay: 0.5s;
}
@keyframes SlideUp{
from{transform: translateY(300%)}
}
body{
background-image: url("Icons/Valentineicon.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;
}
</style>
